.offcanvas{
    width: 50%;
}
.offcanvas-header{
    background: #2196F3;
    color: #fff;
    padding: 30px 15px;
    position: relative;
}
.offcanvas-title{
    font-size: 1.5rem;
}
.offcanvas-header .btn-close{
    position: absolute;
    right: 15px;
    top: 10px;
    background-image: none;
    font-size: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    /* background-color: #fff; */
    border-radius: 50%;
    border: solid 1px #fff;
}
.offcanvas-header .btn-close:after{
    content: "x";
    color: #fff;

}